In [5]:
# Data Management
import pandas as pd

# Data Manipulation
import numpy as np
import datetime
from faker import Faker
from random import shuffle
from scipy.stats import truncnorm
from datetime import timedelta

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Utils
%matplotlib inline

In [6]:
patients = pd.read_pickle('./patient_records.pickle')
patients

,first_name,last_names,birth_date,reason,location,visit_date,checkin_time,checkout_time,current_num_patients,day,weekend
pid,,,,,,,,,,,
10012,first_10012,last_10012,2018-09-15,eyes,denver,2022-01-01,09:00:39,09:30:39,1,5,1
10007,first_10007,last_10007,2010-01-19,stomach,denver,2022-01-01,09:15:51,10:15:51,2,5,1
10021,first_10021,last_10021,2008-11-16,blood,denver,2022-01-01,09:31:22,10:16:22,2,5,1
10005,first_10005,last_10005,2014-07-12,injury,denver,2022-01-01,09:52:05,10:52:05,3,5,1
10018,first_10018,last_10018,2015-06-23,covid,denver,2022-01-01,09:52:44,10:22:44,4,5,1
...,...,...,...,...,...,...,...,...,...,...,...
21986,first_21986,last_21986,1979-08-19,covid,wheatridge,2022-04-10,17:14:44,17:44:44,9,6,1
21999,first_21999,last_21999,1979-06-05,blood,wheatridge,2022-04-10,17:16:07,18:01:07,9,6,1
21988,first_21988,last_21988,1979-02-27,ears,wheatridge,2022-04-10,17:28:46,17:58:46,6,6,1
21990,first_21990,last_21990,1977-12-24,ears,wheatridge,2022-04-10,17:52:40,18:22:40,4,6,1
21985,first_21985,last_21985,1971-10-28,cold/flu,wheatridge,2022-04-10,18:07:07,18:52:07,3,6,1

In [7]:
patients.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 10012 to 21985
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   first_name            20000 non-null  object
 1   last_names            20000 non-null  object
 2   birth_date            20000 non-null  object
 3   reason                20000 non-null  object
 4   location              20000 non-null  object
 5   visit_date            20000 non-null  object
 6   checkin_time          20000 non-null  object
 7   checkout_time         20000 non-null  object
 8   current_num_patients  20000 non-null  int64
 9   day                   20000 non-null  int64
 10  weekend               20000 non-null  int64
dtypes: int64(3), object(8)
memory usage: 1.8+ MB

In [8]:
patients.describe()

       current_num_patients          day       weekend
count          20000.000000  20000.00000  20000.000000
mean               5.193650      3.05000      0.300000
std                2.867797      2.01189      0.458269
min                1.000000      0.00000      0.000000
25%                3.000000      1.00000      0.000000
50%                5.000000      3.00000      0.000000
75%                7.000000      5.00000      1.000000
max               17.000000      6.00000      1.000000

In [15]:
patients.groupby(['location', 'visit_date']).count()['first_name']

location    visit_date
denver      2022-01-01    60
            2022-01-02    60
            2022-01-03    60
            2022-01-04    60
            2022-01-05    60
                          ..
wheatridge  2022-04-06    30
            2022-04-07    30
            2022-04-08    30
            2022-04-09    30
            2022-04-10    30
Name: first_name, Length: 500, dtype: int64